{% extends "base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

<h1>{{ post.title }} <span class="badge bg-primary">{{ post.nbLikes }} &hearts;</span></h1>

<p><i>Publié le : {{ post.publishedAt|date("Y-m-d H:i") }}</i></p>

<p>{{ post.body }}</p>


<h3>Les commentaires</h3>

{#
<ul>
{% for comment in post.comments %}
    <li>Commentaire "{{ comment.body }}" <br /> écrit par {{ comment.username }}</li>    
{% endfor %}
</ul>
#}


<div class="card m-1">
    <h5 class="card-title p-1">Commentaires</h5>
    {% if post.comments is empty %}

    <p class="card-text m-2">Pas de commentaires pour le moment.</p>

    {% else %}
        {% for comment in post.comments %}
        <div class="card-body">
            <p class="card-text">{{ comment.body }}</p>
            <p class="card-text"><small class="text-muted">par {{ comment.username }}, le {{
                    comment.publishedAt|date("Y-m-d")
                    }}</small></p>
        </div>
        <hr class="m-2">
        {% endfor %}
    {% endif %}
</div>


Poster votre commentaire : 
<form class="form" method="post">
    <div class="col-12 col-md-6 mb-3">
        <label for="username" class="form-label">Pseudo</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label for="body" class="form-label">Contenu</label>
        <textarea class="form-control" id="body" name="body"></textarea>
    </div>
    <button class="btn btn-primary">Enregistrer</button>
</form>





{% endblock %}